@model MovieRater.Models.Film


<p>Title: @Model.title</p>
<p>Director: @Model.director</p>
<p>Producer: @Model.producer</p>
<p>Number of votes: @Model.numberOfVotes</p>
<p>Average vote: @Model.avg</p>

@using (Html.BeginForm("Details", "Home"))
{
    <input type="hidden" name="title" value="@Model.title" />
    <label for="vote">Your vote: </label>
    <input type="number" id="vote" name="vote" min="0" max="10" step="1" value="5" />
    <input type="submit" value="Vote" />
}

@Html.ActionLink("Go back", "Index", "Home")
